.header {

  background: linear-gradient(#af2024 0,#640b0d 100%);
  padding: 1rem;
  border-bottom: 2px solid #370607;

  &__logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &__title {
    color: white;
  }

}

