<div fxFlexFill fxLayout="column" fxLayoutAlign="center center" >
  <mat-card class="marvel-card">
    <img mat-card-image src="../../assets/images/Marvel.jpg">
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap=".5rem" fxLayoutAlign="center center">
        <div>
          Simple application to learn NGRX with a touch of RXJS and a splash of MARVEL.
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <div>Cheers</div>
          <mat-icon>local_bar</mat-icon>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-button (click)="routeLearning()">ENTER</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

